@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url(//fonts.googleapis.com/earlyaccess/notosanscanadianaboriginal.css);


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  line-height: 1.7;
}

body {
  background-color: hsl(60deg, 10%, 90%);
  font-weight: 300;
  font-family: 'Noto Sans Canadian Aboriginal', sans-serif;

}

header {
  padding: 1rem 2rem;
  background-color: hsl(60deg, 50%, 50%);
  color: #eee;
  font-size: 3rem;
}

nav {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

nav a {
  color: hsl(60deg, 50%, 30%);
  font-weight: 700;
  font-size: 1.2rem;
  font-family: 'Acme';font-size: 22px;
}

main {
  padding: 1rem 2rem;
  font-family: 'Open Sans',serif;
}

main h2 {
  font-size: 2rem;
  padding-left: 20px;
  font-family: "Goudy Bookletter 1911", sans-serif;

}

main p {
  font-size: 1rem;
  margin: 1rem 0;
  color: #444;
  font-family: Gill Sans Extrabold, sans-serif;

}

ul {
  margin: 1rem 2rem;
  font-family: Merriweather, Impact, Serif;

}

main li {
  font-size: 1rem;
  color: #444;
  font-family: Merriweather, Impact, Serif;

}

footer {
  padding: 1rem 2rem;
  background-color: hsl(60deg, 0%, 70%);
  color: #666;
}

footer p {
  margin: 1rem 0;
  font-size: 0.8rem;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}
